.float-figure {
  float: left; /* Float the figure to the right */
  width: 30%; /* Adjust the width as needed */
  margin: 0 10px 0 10px; /* Add margin for spacing */
  text-align: center; /* Center-align the caption */
}

.float-figure img {
  width: 100%; /* Ensure the image fits within the figure */
}

.float-figure figcaption {
  background-color: #000;
  color: #fff;
  font-style: italic;
  padding: 5px;
}
