:root {
    --form-background-color: #ddd;
    --main-background: #000f14;
    --text-color: #000000;
    --alt-text-color: #ffffff;
    --header-footer-background-color: #083344;
    --header-font: "Poetsen One", sans-serif;
    --body-font: "Caveat", serif;
}

    /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


header {
    padding: 1rem 2%;
}

footer {
    padding: .5rem 2%;
    text-align: center;
}

footer > p {
    margin: 5px;
    font-size: 75%;;
}

header, footer {
    background-color: var(--header-footer-background-color);
    color: var(--alt-text-color);
    letter-spacing: 2px;
    font-family: var(--header-font);
}

header h1 {
    margin: 0; 
    font-weight: normal;
    font-family: var(--header-font);
}

.form1 {
    background-color: var(--form-background-color);
    margin: .5rem;
    border: 1px solid var(--form-background-color);
    border-radius: 5px;
}

.form1 fieldset {
    margin: 1rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.form1 label {
    display: block;
    padding-top: 1.5rem;
    font-size: .9rem;
}

.form1 div {
    color: blue;
    font-size: .9rem;
}

.form1 input[type="text"], .form1 input[type="date"] {
    background-color: #eee;
    display: block;
    border: solid 1px gray;
    border-radius: 6px;
    padding: .5rem;
    color: gray;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.form1 input[type="radio"], .form1 input[type="checkbox"] {
    margin-right: 6px;
    margin-bottom: 10px;
}

.form1 input[type="radio"] {
    display: flex;
    align-items: center;
    margin: .5rem 0 0;
}

.form1 input[type="checkbox"] {
    margin-bottom: 10px;
}


/* OTHER SITEPLAN STYLES*/
header img {
    border: 2px dotted var(--form-background-color);
    border-radius: 50px;
}

.color, h1, li, h2 {
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.692);
    font-family: var(--body-font);
    letter-spacing: 2px;
    margin-left: 5px;
}

h2 {
    margin-top: 3rem;
}

p {
    margin-left: 1rem;
}

.min {
    background-color: var(--form-background-color);
    border: 5px dashed var(--main-background);
    margin: .75rem;
    padding: .5rem;
}

.poet {
    font-family: var(--header-font);
}

.caev {
    font-family: var(--body-font);
    letter-spacing: 2px;
}

.hfbg {
    background-color: var(--header-footer-background-color);
    color: var(--alt-text-color);
}

.hft {
    background-color: var(--alt-text-color);
    border: 1px solid black;
}

.act {
    background-color: var(--text-color);
    color: var(--alt-text-color);
}

.minbg {
    background-color: var(--main-background);
    color: var(--alt-text-color);
}

.conbg {
    background-color: var(--form-background-color);
    border: 1px solid black;
}

.color {
    max-width: 300px;
}

.wire > img {
    margin-left: 2rem;
}