:root {
    --headfootborder: 20px solid rgb(12, 12, 12);
    --secondary-color: rgb(228, 27, 0);
    --text-color: rgb(247, 247, 247);
    --background: rgba(255, 255, 255, 0.466);
    --primary-color: rgb(40, 40, 136);
    --font: "Lato", sans-serif; font-weight: 100; font-style: normal;
      
}

* {
    margin: 0;
    padding: 0;
    font-style: var(--font);
}

.head {
    text-align: center;
    padding: 1rem 0 2rem;
}

header {
    background-color: var(--primary-color);
    padding: 1rem;
    color: var(--text-color);
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 20px solid var(--secondary-color);
    border-top: var(--headfootborder);
}

img {
    width: 100%;
    object-fit: cover;
}

img.icon {
    max-width: 100px;
}

main {
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
}

h2 {
    padding: 2rem;
}

.container-data, .container-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data, .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

th {
    text-align: right;
}

th, td {
    max-width: 200px;
    padding: .5rem;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom: var(--headfootborder);
}

footer > p {
    color: var(--text-color);
    font-size: 12px;
    letter-spacing: 2px;
}


/*###############################*/
@media (min-width: 801px) {
    main{
        position: relative;
    }

    .container-data {
        top: 2.5rem;
        left: 1.5rem;
    }

    .container-weather {
        bottom: 2.5rem;
        right: 1.5rem;
    }

    .container-data, .container-weather {
        position: absolute;
        padding: 10px 20px 20px 0px;
        width: 300px;
        height: auto;
        border-radius: 15px;
        background-color: var(--background);
    }

    .container-weather > h2::after {
        content: "🌧️";
    }

    img.icon {
        display: none;
    }

    th, td, table, tr {
        padding: .5rem;
        background-color: var(--text-color);
    }

    h2 {
        padding: .5rem;
        background-color: var(--primary-color);
        color: var(--text-color);
        width: 100%;
        border-radius: 5px 0;
    }
}