/*   Color Schema
   https://coolors.co/686868-c2aff0-9191e9-457eac-2d5d7b    */

:root {
    --box-color: #963484ff;
    --navigation-color: #3066beff;
    --active-navigation-color: #60afffff;
    --header-color: #28c2ffff;
    --hover-color: #2af5ffff;
    --paragraph-color: black;
    --navigation-text-color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    min-width: 100px;
}
    
header {
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--paragraph-color);
    text-shadow: 2px 0 2px var(--navigation-text-color);
    letter-spacing: 2px;
}

h1 {
    font-family: "Poetsen One", sans-serif;
    font-size: 2rem;
}

nav {
    background-color: var(--navigation-color);
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
	display: block;
	color: var(--navigation-text-color);
    text-shadow: 2px 0 2px black;
    font-family: "Poetsen One", sans-serif;
    letter-spacing: 2px;
	text-align: center;
    padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
    background-color: var(--hover-color);
    text-shadow: 2px 0 2px var(--navigation-text-color);
    letter-spacing: 2px;
    color: var(--paragraph-color);
    border: 1px solid var(--box-color);
}

body {
    font-family: "Caveat", serif;
    max-width: auto;

}

img {
    max-width: 200px;
    padding: 10px 10px 0px;
}

figcaption {
    text-shadow: 1px 2px rgb(184, 184, 184);
}

main {
    min-width: 1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 3fr;

}

footer {
    text-align: center;
    background-color: var(--navigation-color);
    border: 1px solid var(--box-color);
}

footer > p {
    color: var(--navigation-text-color);
    font-family: "Poetsen One", sans-serif;
    font-size: 10px;
    text-shadow: 2px 0 2px var(--paragraph-color);
    letter-spacing: 2px;
}



@media (min-width: 443px) {

}