/*   Color Schema
   https://coolors.co/686868-c2aff0-9191e9-457eac-2d5d7b    */

@media (min-width: 891px) {
	.navigation {
		display: flex;
	}
	
    .navigation li {
		flex: 1 1 100%;
        display: block;
	}

    .navigation a {
		text-align: center;
	}

	#menu {
		display: none;
	}
}

